/* Main Page */

body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navbar */

#navbar {
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px;   
}

#mbcs-logo {
    width: 250px;
    margin-left: 5px;
}

#bar-menu {
    width: 50px;
    margin-right: 30px;
}

#bar-menu:hover {
    transform: scale(1.1);
    
}

#close-menu {
    width: 50px;
    margin-right: 30px;
    display: none;
}

#close-menu:hover {
    transform: scale(1.1) rotate(45deg);
}

#hidden-menu {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: right;
    position: fixed;
    width: 100vw;
    display: none;
    padding-right: 10px;
    right: 0;
    left: 0;
    margin: 0 auto; 
}

#menu-items > li {
    list-style-type: none;
    margin: 20px;
    color: white;
    margin-bottom: 30px;
    
}

.menu-hr {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Backdrop Content & Headshot Section */

#backdrop-section, #headshot-section {
    text-align: center;
}

#main-backdrop {
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: -1;
}

#banner-1 {
    color: white;
    background-color: rgba(63, 169, 245, 0.6);
    padding: 40px;
    width: 100vw;
    position: relative;
    top: -50%;
    z-index: 2;
    font-size: 60px;
    letter-spacing: 5px;
}

#head-shot-photo {
    border-radius: 50%;
    border: 8px solid white;
    width: 300px;
    margin-top: -250px;  
}

.container-fluid {
    overflow: hidden !important;
    padding: 0 !important;
}

#about-blurb-section {
    margin-top: 40px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#more-to-about-link {
    color: blue;
    text-decoration: underline;
}

#lightbulb-section {
    text-align: center;
}

#yellow-proj-icon {
    width: 250px;
    margin-top: 40px;
}


/* Carousel Section */

#carousel-section {
    text-align: center;
    margin-top: 50px;
    
}

#carouselExampleCaptions {
    
}


/* Email Section */

#email-section-row {
    margin-top: 60px;
    background-color: #0156D8;
}

#email-section {
    background-image: url("../assets/images/Email-background-design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    
}

#email-background {
    
}






/* -- Extra --

#email-section {
    margin-top: 100px;
    text-align: center;  
}

#email-background {
    
}

*/