/* Fonts Import */

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=6e42f430-1a4e-4c29-a3bd-bf8eacabb4bf&fontids=2999026,2999028");
@font-face{
    font-family:"Helvetica Neue LT GEO W82_35 T";
    src:url("Fonts/2999026/2d90dbb8-df00-422e-a749-1e6b965d23f1.woff2") format("woff2"),url("Fonts/2999026/65cae7fb-b161-4fa2-882f-efc8d037a499.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT GEO W82_65 M";
    src:url("Fonts/2999028/5937650e-76f0-474f-a1f2-c6f3622b18cd.woff2") format("woff2"),url("Fonts/2999028/04c5a6b7-0f39-48b7-94cd-af07a74ba891.woff") format("woff");
}

/* --------------------- Home Page --------------------- */

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family:"Helvetica Neue LT GEO W82_35 T";
}

/* Navbar */
#navbar {
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;   
}

#mbcs {
    margin-left: 5px;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

#back-home {
    color:  #202125;
}

#bar-menu {
    width: 50px;
    margin-right: 30px;
}

#bar-menu:hover {
    transform: scale(1.1);
    
}

#close-menu {
    width: 50px;
    margin-right: 30px;
    display: none;
}

#close-menu:hover {
    transform: scale(1.1) rotate(45deg);
}

#hidden-menu {
    background-color: rgba(16, 40, 149, 0.9);
    text-align: right;
    position: fixed;
    width: 100vw;
    display: none;
    padding-right: 10px;
    right: 0;
    left: 0;
    margin: 0 auto; 
}

#menu-items > li {
    list-style-type: none;
    margin: 20px;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.menu-link:hover {
    color: white;
    text-decoration: underline white;
}

.menu-hr {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Backdrop Content & Headshot Section */
#backdrop-section, #headshot-section {
    text-align: center;
}

#main-backdrop {
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: -1;
}

#logo-div {
    position: relative;
    background-color: rgba(0, 0, 245, 0.4);
    top: -50%;
    padding: 10px;
}

#mbcs-logo {
    width: 600px;
    position: relative;
    z-index: 2;
    border: 1px solid white;
}

#head-shot-photo {
    border-radius: 50%;
    border: 8px solid white;
    width: 300px;
    margin-top: -250px;  
}

.container-fluid {
    overflow: hidden !important;
    padding: 0 !important;
}

#about-blurb-section {
    margin-top: 40px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    letter-spacing: 1px;
}

#more-to-about-link {
    color: blue;
    text-decoration: underline;
}

#lightbulb-section {
    text-align: center;
}

#yellow-proj-icon {
    width: 250px;
    margin-top: 40px;
}

/* Carousel Section */
#carousel-section {
    text-align: center;
    margin-top: 70px;
    padding-left: 15%;
    padding-right: 15%;
}

/* Hurree Section */
#hurree-section {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

h5 {
    font-size: 25px;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

#hurree-section > h1 {
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

#hurree-section > p {
    text-align: justify;
    padding-top: 20px;
    font-size: 20px;
}

#hurree-link {
    color: blue;
    text-decoration: underline;
}

#hurree-logo {
    width: 375px;
    display: inline-block;
    margin-top: 30px;
}

/* Email Section */
#email-section-row {
    margin-top: 60px;
    background-color: #0156D8;
}

#email-section {
    background-image: url("../assets/images/Email-background-design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;  
}

#email-box {
    background-color: white;
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 130px;
    padding: 25px 30px 15px 30px;
    width: 400px;
    height: 450px;
}

#email-box > h1 {
    text-align: center;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

#email-box-p {
    margin-top: 20px;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

input[type="text"] {
    margin-top: 20px;
}

input[type="text"], input[type="email"] {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

input::placeholder {
    padding-left: 5px;
}

#button-holder {
    text-align: center;
    margin-top: 15px;
}

#button {
    color: white;
    background-color: #F7931E;
    border-style: none;
    padding: 5px 6px;
    border-radius: 16px;
    width: 60%;
    letter-spacing: 1.5px;
    font-size: 25px; 
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

/* Footer */
footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

footer > p {
    font-size: 14px;
    margin-bottom: 0;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

.social-icon {
    width: 35px;
}


/**** Media Queries ****/
@media (max-width: 630px) {
    #mbcs-logo {
        width: 375px;
    }

    #head-shot-photo {
        width: 250px;
        margin-top: -250px;  
    }
}

@media (max-width: 415px) {
    #about-blurb-section {
        padding-left: 10%;
        padding-right: 10%;
    }

    #email-box {
        margin: 20px auto;
        padding: 20px 15px;
        width: 300px;
        height: 450px;
    }

    #button {
        padding: 5px 6px;
        font-size: 20px; 
    }

    footer > p {
        font-size: 10px;
    }

    .social-icon {
        width: 20px;
    }
}

@media (max-width: 375px) {
    #mbcs-logo {
        width: 350px;
    }

    #head-shot-photo {
        width: 250px;
        margin-top: -200px;  
    }

    #about-blurb-section {
        padding-left: 10%;
        padding-right: 10%;
    }

    #carousel-section {
        padding-left: 10%;
        padding-right: 10%;
    }

    #hurree-section {
        padding-left: 10%;
        padding-right: 10%;
    }

    #email-box {
        margin: 20px auto;
        padding: 20px 15px;
        width: 300px;
        height: 450px;
    }

    #button {
        padding: 5px 6px;
        font-size: 20px; 
    }
    
    footer > p {
        font-size: 10px;
    }

    .social-icon {
        width: 20px;
    }
}

@media (max-width: 320px) {
    #mbcs-logo {
        width: 300px;
    }

    #head-shot-photo {
        width: 200px;
        margin-top: -160px;  
    }

    #hurree-logo {
        width: 310px;
    }

    #email-section {
        height: 88vh; 
    }

    footer > p {
        font-size: 8px;
    }
}




/* --------------------- About Page --------------------- */

/* Backdrop Content & Headshot Section */
#about-backdrop-section {
    text-align: center;
}

#about-backdrop {
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: -1;
    opacity: 0.4;
}

.background-color-div {
    background-color: rgb(5, 71, 212);
    position: relative;
    z-index: -5;
}

#banner-1 {
    color: white;
    background-color: rgba(16, 40, 149, 0.45);
    padding: 40px;
    width: 100vw;
    position: relative;
    top: -50%;
    z-index: 2;
    font-size: 65px;
    letter-spacing: 10px;
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

/* About Section */
.drop-letter {
    font-size: 35px;
    font-style: "Helvetica Neue LT GEO W82_65 M";
    padding-right: 3px;
    font-weight: 900;
}

#about-section > p {
    letter-spacing: 1.5px;
    line-height: 2;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: justify;
}

.about-headers-div {
    text-align: center;
}

.about-heading {
    font-style: "Helvetica Neue LT GEO W82_65 M";
    display: inline-block;
    font-size: 45px;
    letter-spacing: 5px;
    padding-right: 10px;
}

.about-hr {
    width: 20%;
    border: none;
    border-top: 1px solid black;
    opacity: unset;
    display: inline-block;
    margin: 0 auto; 
}

#signature-div {
    text-align: right;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

#signature {
    margin-right: 20%;
    font-size: 26px;
    font-style: "Helvetica Neue LT GEO W82_65 M";
    font-weight: 700;
}


/* --------------------- Projects Page --------------------- */

/* Backdrop Content Section */
#projects-backdrop-section {
    text-align: center;
    height: 60vh;
}

#projects-backdrop {
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: -1;
    opacity: 0.45;
}

/* Proects Section */
.projects-div-left {
    margin-top: 10%;
    margin-left: 20px;
}

.projects-div-1 {
    margin-top: 5%;
}

.projects-div-right {
    margin-top: 10%;
}

.company-name-div, .company-link-div {
    text-align: center;
    font-style: "Helvetica Neue LT GEO W82_65 M";
}

.company-name-div {
    margin-bottom: 20px;
}

.proj-icon {
    width: 55%;
}

.proj-points {
    padding-right: 30px;
    padding-left: 30px;
    line-height: 2;
    font-family:"Helvetica Neue LT GEO W82_35 T";
    font-size: 18px;
    margin-bottom: 35px;
}

.proj-points > li {
    margin-bottom: 15px;
}

button {
    color: white;
    background-color: #F7931E;
    border-style: none;
    padding: 5px 6px;
    border-radius: 16px;
    width: 30%;
    letter-spacing: 1.5px;
    font-size: 25px; 
    font-family:"Helvetica Neue LT GEO W82_65 M";
}

.projects-footer {
    border-top: 1px solid black;
    margin-top: 100px;
}




/* 

-- Home Page Extra --

#carousel-section {
    text-align: center;
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%; 
}

#logo-div {
    position: relative;
    background-color: rgba(63, 169, 245, 0.6);
    top: -50%;
    padding: 5px;
}

OR

#mbcs-logo {
    width: 600px;
    position: relative;
    z-index: 2;
    border: 5px solid rgba(63, 169, 245, 0.6);
    top: -300px;
}

-- About Page Extra --

background-color: rgba(0, 0, 255, 0.65);

-- Projects Page Extra --


*/